<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>picName</key>
		<string>finditem_ad</string>
		<key>describe</key>
		<string>第一张图片</string>
	</dict>
	<dict>
		<key>picName</key>
		<string>finditem_hotpeople</string>
		<key>describe</key>
		<string>第一张图片</string>
	</dict>
	<dict>
		<key>picName</key>
		<string>finditem_hotsound</string>
		<key>describe</key>
		<string>第一张图片</string>
	</dict>
	<dict>
		<key>picName</key>
		<string>finditem_newpeople</string>
		<key>describe</key>
		<string>第一张图片</string>
	</dict>
	<dict>
		<key>picName</key>
		<string>finditem_newsound</string>
		<key>describe</key>
		<string>第一张图片</string>
	</dict>
	<dict>
		<key>picName</key>
		<string>finditem_wallspoint</string>
		<key>describe</key>
		<string>第一张图片</string>
	</dict>
</array>
</plist>
