<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>a</string>
				<key>badgeimage</key>
				<string>badge_安徽大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>安徽省</string>
				<key>name</key>
				<string>安徽大学</string>
				<key>province</key>
				<string>安徽</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>a</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京体育大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>体育</string>
				<key>manager</key>
				<string>国家体育总局</string>
				<key>name</key>
				<string>北京体育大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京外国语大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>语言</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>北京外国语大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京师范大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>师范</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>北京师范大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京中医药大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>医药</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>北京中医药大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京林业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>林业</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>北京林业大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京邮电大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>北京邮电大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京化工大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>北京化工大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京科技大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>北京科技大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京理工大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>工业和信息化部</string>
				<key>name</key>
				<string>北京理工大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京航空航天大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>工业和信息化部</string>
				<key>name</key>
				<string>北京航空航天大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京工业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>北京市</string>
				<key>name</key>
				<string>北京工业大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京交通大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>北京交通大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>b</string>
				<key>badgeimage</key>
				<string>badge_北京大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>北京大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>b</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>c</string>
				<key>badgeimage</key>
				<string>badge_长安大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>长安大学</string>
				<key>province</key>
				<string>陕西</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>c</string>
				<key>badgeimage</key>
				<string>badge_重庆大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>重庆大学</string>
				<key>province</key>
				<string>重庆</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>c</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>d</string>
				<key>badgeimage</key>
				<string>badge_第四军医大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>军事</string>
				<key>manager</key>
				<string>解放军总政治部</string>
				<key>name</key>
				<string>第四军医大学</string>
				<key>province</key>
				<string>陕西</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>d</string>
				<key>badgeimage</key>
				<string>badge_电子科技大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>电子科技大学</string>
				<key>province</key>
				<string>四川</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>d</string>
				<key>badgeimage</key>
				<string>badge_东南大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>东南大学</string>
				<key>province</key>
				<string>江苏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>d</string>
				<key>badgeimage</key>
				<string>badge_第二军医大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>军事</string>
				<key>manager</key>
				<string>解放军总政治部</string>
				<key>name</key>
				<string>第二军医大学</string>
				<key>province</key>
				<string>上海</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>d</string>
				<key>badgeimage</key>
				<string>badge_东华大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>东华大学</string>
				<key>province</key>
				<string>上海</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>d</string>
				<key>badgeimage</key>
				<string>badge_东北林业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>林业</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>东北林业大学</string>
				<key>province</key>
				<string>黑龙江</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>d</string>
				<key>badgeimage</key>
				<string>badge_东北农业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>农业</string>
				<key>manager</key>
				<string>黑龙江省</string>
				<key>name</key>
				<string>东北农业大学</string>
				<key>province</key>
				<string>黑龙江</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>d</string>
				<key>badgeimage</key>
				<string>badge_东北师范大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>师范</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>东北师范大学</string>
				<key>province</key>
				<string>吉林</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>d</string>
				<key>badgeimage</key>
				<string>badge_大连海事大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>交通部</string>
				<key>name</key>
				<string>大连海事大学</string>
				<key>province</key>
				<string>辽宁</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>d</string>
				<key>badgeimage</key>
				<string>badge_东北大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>东北大学</string>
				<key>province</key>
				<string>辽宁</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>d</string>
				<key>badgeimage</key>
				<string>badge_大连理工大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>大连理工大学</string>
				<key>province</key>
				<string>辽宁</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>d</string>
				<key>badgeimage</key>
				<string>badge_对外经济贸易大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>财经</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>对外经济贸易大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>d</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>f</string>
				<key>badgeimage</key>
				<string>badge_福州大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>福建省</string>
				<key>name</key>
				<string>福州大学</string>
				<key>province</key>
				<string>福建</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>f</string>
				<key>badgeimage</key>
				<string>badge_复旦大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>复旦大学</string>
				<key>province</key>
				<string>上海</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>f</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>g</string>
				<key>badgeimage</key>
				<string>badge_贵州大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>贵州省</string>
				<key>name</key>
				<string>贵州大学</string>
				<key>province</key>
				<string>贵州</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>g</string>
				<key>badgeimage</key>
				<string>badge_广西大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>广西壮族自治区</string>
				<key>name</key>
				<string>广西大学</string>
				<key>province</key>
				<string>广西</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>g</string>
				<key>badgeimage</key>
				<string>badge_国防科学技术大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>军事</string>
				<key>manager</key>
				<string>中央军委</string>
				<key>name</key>
				<string>国防科学技术大学</string>
				<key>province</key>
				<string>湖南</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>g</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_华南师范大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>师范</string>
				<key>manager</key>
				<string>广东省</string>
				<key>name</key>
				<string>华南师范大学</string>
				<key>province</key>
				<string>广东省</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_海南大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>海南省</string>
				<key>name</key>
				<string>海南大学</string>
				<key>province</key>
				<string>海南</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_华南理工大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>华南理工大学</string>
				<key>province</key>
				<string>广东</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_湖南师范大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>师范</string>
				<key>manager</key>
				<string>湖南省</string>
				<key>name</key>
				<string>湖南师范大学</string>
				<key>province</key>
				<string>湖南</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_湖南大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>湖南大学</string>
				<key>province</key>
				<string>湖南</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_华中师范大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>师范</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>华中师范大学</string>
				<key>province</key>
				<string>湖北</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_华中农业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>农业</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>华中农业大学</string>
				<key>province</key>
				<string>湖北</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_华中科技大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>华中科技大学</string>
				<key>province</key>
				<string>湖北</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_合肥工业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>合肥工业大学</string>
				<key>province</key>
				<string>安徽</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_河海大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>河海大学</string>
				<key>province</key>
				<string>江苏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_华东师范大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>师范</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>华东师范大学</string>
				<key>province</key>
				<string>上海</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_华东理工大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>华东理工大学</string>
				<key>province</key>
				<string>上海</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_哈尔滨工程大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>工业和信息化部</string>
				<key>name</key>
				<string>哈尔滨工程大学</string>
				<key>province</key>
				<string>黑龙江</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_哈尔滨工业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>工业和信息化部</string>
				<key>name</key>
				<string>哈尔滨工业大学</string>
				<key>province</key>
				<string>黑龙江</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_河北工业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>河北省</string>
				<key>name</key>
				<string>河北工业大学</string>
				<key>province</key>
				<string>天津</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>h</string>
				<key>badgeimage</key>
				<string>badge_华北电力大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>华北电力大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>h</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>j</string>
				<key>badgeimage</key>
				<string>badge_暨南大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>国务院侨务办公室</string>
				<key>name</key>
				<string>暨南大学</string>
				<key>province</key>
				<string>广东</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>j</string>
				<key>badgeimage</key>
				<string>badge_江南大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>江南大学</string>
				<key>province</key>
				<string>江苏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>j</string>
				<key>badgeimage</key>
				<string>badge_吉林大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>吉林大学</string>
				<key>province</key>
				<string>吉林</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>j</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>l</string>
				<key>badgeimage</key>
				<string>badge_兰州大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>兰州大学</string>
				<key>province</key>
				<string>甘肃</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>l</string>
				<key>badgeimage</key>
				<string>badge_辽宁大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>辽宁省</string>
				<key>name</key>
				<string>辽宁大学</string>
				<key>province</key>
				<string>辽宁</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>l</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>n</string>
				<key>badgeimage</key>
				<string>badge_宁夏大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>宁夏回族自治区</string>
				<key>name</key>
				<string>宁夏大学</string>
				<key>province</key>
				<string>宁夏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>n</string>
				<key>badgeimage</key>
				<string>badge_南昌大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>江西省</string>
				<key>name</key>
				<string>南昌大学</string>
				<key>province</key>
				<string>江西</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>n</string>
				<key>badgeimage</key>
				<string>badge_南京师范大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>师范</string>
				<key>manager</key>
				<string>江苏省</string>
				<key>name</key>
				<string>南京师范大学</string>
				<key>province</key>
				<string>江苏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>n</string>
				<key>badgeimage</key>
				<string>badge_南京农业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>农业</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>南京农业大学</string>
				<key>province</key>
				<string>江苏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>n</string>
				<key>badgeimage</key>
				<string>badge_南京理工大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>工业和信息化部</string>
				<key>name</key>
				<string>南京理工大学</string>
				<key>province</key>
				<string>江苏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>n</string>
				<key>badgeimage</key>
				<string>badge_南京航空航天大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>工业和信息化部</string>
				<key>name</key>
				<string>南京航空航天大学</string>
				<key>province</key>
				<string>江苏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>n</string>
				<key>badgeimage</key>
				<string>badge_南京大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>南京大学</string>
				<key>province</key>
				<string>江苏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>n</string>
				<key>badgeimage</key>
				<string>badge_内蒙古大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>内蒙古自治区</string>
				<key>name</key>
				<string>内蒙古大学</string>
				<key>province</key>
				<string>内蒙古</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>n</string>
				<key>badgeimage</key>
				<string>badge_南开大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>南开大学</string>
				<key>province</key>
				<string>天津</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>n</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>q</string>
				<key>badgeimage</key>
				<string>badge_青海大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>青海省</string>
				<key>name</key>
				<string>青海大学</string>
				<key>province</key>
				<string>青海省</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>q</string>
				<key>badgeimage</key>
				<string>badge_清华大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>清华大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>q</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>s</string>
				<key>badgeimage</key>
				<string>badge_石河子大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>新疆生产建设兵团</string>
				<key>name</key>
				<string>石河子大学</string>
				<key>province</key>
				<string>新疆</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>s</string>
				<key>badgeimage</key>
				<string>badge_陕西师范大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>师范</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>陕西师范大学</string>
				<key>province</key>
				<string>陕西</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>s</string>
				<key>badgeimage</key>
				<string>badge_四川农业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>农业</string>
				<key>manager</key>
				<string>四川省</string>
				<key>name</key>
				<string>四川农业大学</string>
				<key>province</key>
				<string>四川</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>s</string>
				<key>badgeimage</key>
				<string>badge_四川大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>四川大学</string>
				<key>province</key>
				<string>四川</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>s</string>
				<key>badgeimage</key>
				<string>badge_山东大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>山东大学</string>
				<key>province</key>
				<string>山东</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>s</string>
				<key>badgeimage</key>
				<string>badge_苏州大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>江苏省</string>
				<key>name</key>
				<string>苏州大学</string>
				<key>province</key>
				<string>江苏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>s</string>
				<key>badgeimage</key>
				<string>badge_上海大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>上海市</string>
				<key>name</key>
				<string>上海大学</string>
				<key>province</key>
				<string>上海</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>s</string>
				<key>badgeimage</key>
				<string>badge_上海财经大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>财经</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>上海财经大学</string>
				<key>province</key>
				<string>上海</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>s</string>
				<key>badgeimage</key>
				<string>badge_上海外国语大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>语言</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>上海外国语大学</string>
				<key>province</key>
				<string>上海</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>s</string>
				<key>badgeimage</key>
				<string>badge_上海交通大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>上海交通大学</string>
				<key>province</key>
				<string>上海</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>s</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>t</string>
				<key>badgeimage</key>
				<string>badge_同济大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>同济大学</string>
				<key>province</key>
				<string>上海</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>t</string>
				<key>badgeimage</key>
				<string>badge_太原理工大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>山西省</string>
				<key>name</key>
				<string>太原理工大学</string>
				<key>province</key>
				<string>山西</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>t</string>
				<key>badgeimage</key>
				<string>badge_天津医科大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>医药</string>
				<key>manager</key>
				<string>天津市</string>
				<key>name</key>
				<string>天津医科大学</string>
				<key>province</key>
				<string>天津</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>t</string>
				<key>badgeimage</key>
				<string>badge_天津大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>天津大学</string>
				<key>province</key>
				<string>天津</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>t</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>w</string>
				<key>badgeimage</key>
				<string>badge_武汉理工大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>武汉理工大学</string>
				<key>province</key>
				<string>湖北</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>w</string>
				<key>badgeimage</key>
				<string>badge_武汉大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>武汉大学</string>
				<key>province</key>
				<string>湖北</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>w</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>x</string>
				<key>badgeimage</key>
				<string>badge_新疆大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>新疆维吾尔自治区</string>
				<key>name</key>
				<string>新疆大学</string>
				<key>province</key>
				<string>新疆</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>x</string>
				<key>badgeimage</key>
				<string>badge_西北农林科技大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>农业</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>西北农林科技大学</string>
				<key>province</key>
				<string>陕西</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>x</string>
				<key>badgeimage</key>
				<string>badge_西安电子科技大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>西安电子科技大学</string>
				<key>province</key>
				<string>陕西</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>x</string>
				<key>badgeimage</key>
				<string>badge_西北工业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>工业和信息化部</string>
				<key>name</key>
				<string>西北工业大学</string>
				<key>province</key>
				<string>陕西</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>x</string>
				<key>badgeimage</key>
				<string>badge_西安交通大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>理工</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>西安交通大学</string>
				<key>province</key>
				<string>陕西</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>x</string>
				<key>badgeimage</key>
				<string>badge_西北大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>陕西省</string>
				<key>name</key>
				<string>西北大学</string>
				<key>province</key>
				<string>陕西</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>x</string>
				<key>badgeimage</key>
				<string>badge_西藏大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>西藏自治区</string>
				<key>name</key>
				<string>西藏大学</string>
				<key>province</key>
				<string>西藏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>x</string>
				<key>badgeimage</key>
				<string>badge_西南大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>西南大学</string>
				<key>province</key>
				<string>重庆</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>x</string>
				<key>badgeimage</key>
				<string>badge_西南财经大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>财经</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>西南财经大学</string>
				<key>province</key>
				<string>四川</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>x</string>
				<key>badgeimage</key>
				<string>badge_西南交通大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>西南交通大学</string>
				<key>province</key>
				<string>四川</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>x</string>
				<key>badgeimage</key>
				<string>badge_厦门大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>厦门大学</string>
				<key>province</key>
				<string>福建</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>x</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>y</string>
				<key>badgeimage</key>
				<string>badge_云南大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>云南省</string>
				<key>name</key>
				<string>云南大学</string>
				<key>province</key>
				<string>云南</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>y</string>
				<key>badgeimage</key>
				<string>badge_延边大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>吉林省</string>
				<key>name</key>
				<string>延边大学</string>
				<key>province</key>
				<string>吉林</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>y</string>
	</dict>
	<dict>
		<key>universities</key>
		<array>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中国地质大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>理工</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中国地质大学</string>
				<key>province</key>
				<string>湖北、北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中国石油大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>理工</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中国石油大学</string>
				<key>province</key>
				<string>山东、北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中山大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中山大学</string>
				<key>province</key>
				<string>广东</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中南大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中南大学</string>
				<key>province</key>
				<string>湖南</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中南财经政法大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>财经</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中南财经政法大学</string>
				<key>province</key>
				<string>湖北</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_郑州大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>河南省</string>
				<key>name</key>
				<string>郑州大学</string>
				<key>province</key>
				<string>河南</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中国海洋大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中国海洋大学</string>
				<key>province</key>
				<string>山东</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中国科学技术大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>中国科学院</string>
				<key>name</key>
				<string>中国科学技术大学</string>
				<key>province</key>
				<string>安徽</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_浙江大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>浙江大学</string>
				<key>province</key>
				<string>浙江</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中国药科大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>医药</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中国药科大学</string>
				<key>province</key>
				<string>江苏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中国矿业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>工科</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中国矿业大学</string>
				<key>province</key>
				<string>江苏</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中国政法大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>政法</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中国政法大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中央民族大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>民族</string>
				<key>manager</key>
				<string>国家民族事务委员会</string>
				<key>name</key>
				<string>中央民族大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中央音乐学院</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>艺术</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中央音乐学院</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中央财经大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>财经</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中央财经大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中国传媒大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>0</string>
				<key>kind</key>
				<string>语言</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中国传媒大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中国农业大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>农业</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中国农业大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>theIndex</key>
				<string>z</string>
				<key>badgeimage</key>
				<string>badge_中国人民大学</string>
				<key>is211</key>
				<string>1</string>
				<key>is985</key>
				<string>1</string>
				<key>kind</key>
				<string>综合</string>
				<key>manager</key>
				<string>教育部</string>
				<key>name</key>
				<string>中国人民大学</string>
				<key>province</key>
				<string>北京</string>
			</dict>
		</array>
		<key>theIndex</key>
		<string>z</string>
	</dict>
</array>
</plist>
